html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

nav .form-inline {
    display: flex;
    align-items: center; /* Вирівнювання по вертикалі */
}
nav .navbar-brand{
    padding-left: 20px; /* Відступ для зміщення всієї панелі */
}
span .navbar-text{
    padding-right: 20px;
}
table.table thead th {
    background-color: #333; /* Темно-сірий фон */
    color: white !important; /* Білий текст */
}

/* Рядки таблиці */
table.table tbody tr:nth-child(odd) {
    background-color: #f7f7f7; /* Світло-сірий фон для непарних рядків */
}

table.table tbody tr:nth-child(even) {
    background-color: #eaeaea; /* Світліший сірий фон для парних рядків */
}

table.table tbody tr:hover {
    background-color: #ddd; /* Темно-сірий фон при наведенні */
}

.big-cross {
    font-size: 1.5rem; /* Збільшений розмір */
    font-weight: bold; /* Жирний */
}
table.table tbody td{
    vertical-align: middle
}
.btn-minus-link {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    background-color: #343a40;
    color: white !important;
    text-decoration: none;
}

    .btn-minus-link:hover {
        background-color: #dc3545;
        color: white !important;
    }