@model LoginViewModel

@{
    ViewData["Title"] = "Вхід";
}
<div class="container py-5">
    <h2 class="text-center">Вхід</h2>
    <div class="card p-4 shadow-sm mx-auto" style="max-width: 550px; height:auto;">
        <div class="row justify-content-center">
            <div class="col-12">
                <form asp-action="Login" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger text-center"></div>

                    <div class="form-group mb-3">
                        <label asp-for="Name" class="control-label d-block text-center">Ім'я</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger d-block text-center"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Password" class="control-label d-block text-center">Пароль</label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger d-block text-center"></span>
                    </div>

                    <div class="form-group form-check mb-3 text-center">
                        <label asp-for="RememberMe" class="control-label">
                            Запам'ятати мене
                            <input asp-for="RememberMe" class="form-check-input" />
                        </label>
                    </div>

                    <div class="form-group mb-3">
                        <button type="submit" class="btn btn-outline-success btn-custom w-100">Увійти</button>
                    </div>
                </form>

                <div class="form-group mb-3">
                    <p class="text-center">
                        <a asp-action="Register" asp-controller="Account">Ще немає акаунта? Зареєструйтесь</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container py-5">
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
